body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
}
body {
    overflow:hidden
}
#mycanvas {
    position:absolute;
    left:0;
    top:0;
    z-index:10;
}
#panelbtn {
    position: absolute;
    left:0;
    bottom:0;
    z-index:20;
}

#vid {
    position: absolute;
    height: 100%;
    width: 100%;
}

#panelListFigures {
    position: absolute;
    left:0;
    top:0;
}