body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
}
body {
    overflow:hidden
}
#mycanvas {
    position:fixed;
    left:0;
    top:0;
}
#panelbtn {
    position: absolute;
    left:0;
    bottom:0;
}